In [16]:
# Dependencies
 
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [17]:
# read in csv file

csv_file = "./Resources/25.csv"
fitness_data_df = pd.read_csv(csv_file)
fitness_data_df.head()

,date,step_count,mood,calories_burned,hours_of_sleep,bool_of_active,weight_kg
0,2017-10-06,5464,200,181,5,0,66
1,2017-10-07,6041,100,197,8,0,66
2,2017-10-08,25,100,0,5,0,66
3,2017-10-09,5461,100,174,4,0,66
4,2017-10-10,6915,200,223,5,500,66

In [18]:
display(fitness_data_df.dtypes)

date               object
step_count          int64
mood                int64
calories_burned     int64
hours_of_sleep      int64
bool_of_active      int64
weight_kg           int64
dtype: object

In [19]:
fitness_data_df.shape

(96, 7)

In [20]:
#  Any nulls ?

fitness_data_df.isnull().sum()

date               0
step_count         0
mood               0
calories_burned    0
hours_of_sleep     0
bool_of_active     0
weight_kg          0
dtype: int64

In [21]:
#fitness_data_df["date"] = pd.to_datetime(fitness_data_df["date"])
#fitness_data_df.info()

In [22]:
#fitness_data_df["datey"] = fitness_data_df["date"].dt.year 
#fitness_data_df["datem"] = fitness_data_df["date"].dt.month
#fitness_data_df["date"] = fitness_data_df["datey"].map(str) + "-" + fitness_data_df["datem"].map(str)
#fitness_data_df.head()

In [23]:
# Rename columns to match table column names for eventual load

fitness_data_df.rename(columns= {"date": "id", "step_count": "stepcount", "calories_burned": "calories",
                                 "bool_of_active": "active",},inplace = True)

fitness_data_df.head()

           id  stepcount  mood  calories  hours_of_sleep  active  weight_kg
0  2017-10-06       5464   200       181               5       0         66
1  2017-10-07       6041   100       197               8       0         66
2  2017-10-08         25   100         0               5       0         66
3  2017-10-09       5461   100       174               4       0         66
4  2017-10-10       6915   200       223               5     500         66

In [24]:
#  Keep columns needed to load the table

new_fitness_data_df = fitness_data_df[["id","stepcount", "mood", "calories", "active", "weight_kg"]].copy()
new_fitness_data_df.head()

           id  stepcount  mood  calories  active  weight_kg
0  2017-10-06       5464   200       181       0         66
1  2017-10-07       6041   100       197       0         66
2  2017-10-08         25   100         0       0         66
3  2017-10-09       5461   100       174       0         66
4  2017-10-10       6915   200       223     500         66

In [25]:
display(new_fitness_data_df.dtypes)

id           object
stepcount     int64
mood          int64
calories      int64
active        int64
weight_kg     int64
dtype: object

In [26]:
# Connect to the database
protocol = 'postgresql'
username = 'postgres'
password = 'learnPS01now'
host = 'localhost'
port = 5432
database_name = 'Project2_Fitness'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [27]:
# Get table names
engine.table_names()

C:\Users\Owner\anaconda\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)

['fittrends']

In [28]:
#  Load csv file with selected columns in the database table called fittrends

new_fitness_data_df.to_sql(name='fittrends', con=engine, if_exists='append', index=False)

In [29]:
#  This table has a primary key as no duplicates are needed

pd.read_sql_query('select * from fittrends', con=engine).head()

           id stepcount  mood  calories  active  weight_kg
0  2017-10-06      5464   200       181       0         66
1  2017-10-07      6041   100       197       0         66
2  2017-10-08      25     100         0       0         66
3  2017-10-09      5461   100       174       0         66
4  2017-10-10      6915   200       223     500         66